<head>
<title>
	Admin
</title>
</head>
<div class="container">
	<%= render 'layouts/userAuth' %>
	<div class="btn">
		<%= link_to "Manage Albums", :albums %>
	</div>
	<br><br>
	<div class="btn">
		<%= link_to "Manage Photos", :photo_index %>
	</div>
	<br><br>
	<div class="btn">
		<%= link_to "Manage Users", :user_index %>
	</div>
</div>