<head>
<title>
	Admin
</title>
</head>
<div class="container">
<%= render 'layouts/userAuth' %>

<%= link_to "Manage Albums", :albums %><br>
<%= link_to "Manage Photos", :photo_index %><br>
<%= link_to "Manage Users", :user_index %><br>
</div>