<div class="container">
<% @users.each do |user|%>
	<%= user.email%>
	<%= link_to 'Edit', edit_user_path(user) %>&nbsp|&nbsp
	<%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete%>
	<br>
<%end%>

<%= link_to 'Add New User', new_user_path %><br>
</div>