<div class="container">
<div class="span12">
<div class="hero-unit">
	<br>
<p>
<strong><u>Charlotte Photographer Deepti Chavan Arora</u></strong>
</p>

<p>
It would not be wrong to say that photography is in my blood. I come from a family where my grandfather was a renowned cinmatographer in Marathi film industry.My uncle followed his footstep and joined the film industry as cinmatographer, while my own father and brother are in Still photography. 
</p>
<p>

It was in 2008 I got an opportunity to move to Charlotte,North Carolina US from San Francisco. This journey from the hip city, SF to Queen city, Charlotte came with a new blessing and I started as an amateur photographer doing photoshoot for friends and their families, the kaleidoscope within me started finding a new expression.
</p>
<p>
After many years as a keen amateur photographer, I decided to start a small  photography business. I realized that I enjoy working with kids and babies. It quickly became apparent that I was enjoying my part time job much more than I had anticipated and I decided that this was where my future lay. I decided to become a full time professional photographer.
</p>

<p>
My endeavor shall be to ensure that my clients shall enjoy working with me as much as I enjoy being behind the lenses.
</p>
<p>

I am currently based in Concord, North Carolina.You  could  get in touch with me for any of your  Photogrpahy needs like  Kids Portraits , Maternity Portraits, Family Portraits , Fashion Portraits,Senior Portraits. 
</p>
</div>
</div>
</div>
