<div class="container">
<div class="span12">
<div class="hero-unit">
	<br>
<p>
<strong><u>Charlotte Photographer Deepti Chavan Arora</u></strong>
</p>
<p>Hello Friends,
<br>
Blessed are those who get to live their dream!
</p>
<p>
And truly so I too cherished a dream to one day harness my creative flair and my love for colours to adorn my career with. But destiny had a stint in HR industry in store for me. Gradually the colours within me started taking a form and just like a kaleidoscope every pattern was as vivid in my dreams as it could be.
</p>
<p>
It would not be wrong to say that photography is in my blood. I come from a family where my grandfather was a renowned cinmatographer in Marathi film industry.My uncle followed his footstep and joined the film industry as cinmatographer, while my own father and brother are in Still photography. 

It was in 2008 I got an opportunity to move to Charlotte,North Carolina US from Pune. This journey from the hip city, Pune to Queen city, Charlotte came with a new blessing and I started as an amateur photographer doing photoshoot for friends and their families, the kaleidoscope within me started finding a new expression.
</p>
<p>
The Queens city this time came with the final milestone and I found my calling in Photography and attended clubs ans seminars to study the shutter bug. 
</p>
<p>
The Kaleidoscopic patterns started taking a shape – a riot of colour now seldom abstract but discerning and firm. Giving me the confidence to now take up assignments- fashion, lifestyle, portraits, model portfolios, architectural, landscape, posed or even candid
</p>
<p>
My endeavor shall be to ensure that my clients shall enjoy working with me as much as I enjoy being behind the lenses.
</p>
<p>
 

I am currently based in Concord, North Carolina.You  could  get in touch with me for any of your  Photogrpahy needs like  Kids Portraits , Maternity Portraits, Family Portraits , Fashion Portraits,Senior Portraits , 
</p>
</div>
</div>
</div>
