<head>
<title>Contact</title>
	</head>
<div class="container">
<span class="label">
	By Telephone:
      <br>OFFICE: +1(704) 918-1570
      <br>MOBILE: +1(704) 490-6503
      <br>EMAIL: <a href="mailto:Depti8dec@gmail.com">Depti8dec@gmail.com</a>

</span>
</div>
