<head>
<title>Contact</title>
	</head>
<div class="container-fluid">
<ul class="thumbnails-fluid">
	<li class="span3-fluid">
		<div class="hero-unit">
			<%= image_tag("d3.jpg",:width=>"250") %>
		</div>	
	</li>

	<li class="span6">
		<div class="hero-unit">
		
			<br>MOBILE: +1(704) 490-6503
	      	<br>EMAIL: <a href="mailto:Depti8dec@gmail.com">Depti8dec@gmail.com</a>
		
		</div>	
	</div>
	</li>
</ul>
	
</div>
